/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define LV_SYMBOL_CHARGE  "\xef\x81\xb9"

#define DEFAULT 0
#define NAV     1
#define SYM     2
#define FN      3

&left_encoder {
    status = "disabled";
};

&right_encoder {
    status = "disabled";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			label = " QWERTY";
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &kp TAB    &kp Q      &kp W      &kp E      &kp R      &kp T                                                        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
   &kp ESC    &kp A      &kp S      &kp D      &kp F      &kp G                                                        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
   &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &kp LBKT   &kp PSCRN        &mo FN     &kp RBKT   &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
	                            &mo SYM    &kp LGUI  &mt LALT RET &kp SPC   &mo NAV          &mo SYM    &kp SPC    &kp RALT   &kp RGUI   &mo NAV
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		nav_layer {
			label = " NAV";
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &none      &none      &none      &none      &none                                                        &kp PG_UP  &kp HOME   &kp UP     &kp END   &kp C_VOL_UP &kp DEL
   &trans     &kp LGUI   &kp LALT   &kp LCTL   &kp LSHFT  &none                                                        &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT &kp C_VOL_DN &kp INS
   &trans     &none      &none      &none      &none      &none      &kp LPAR   &kp CAPS         &trans     &kp RPAR   &kp C_PAUSE &kp C_PREV &kp C_PLAY &kp C_NEXT &kp C_MUTE &kp PSCRN
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		sym_layer {
			label = " SYM";
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &kp GRAVE  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp EQUAL
   &kp TILDE  &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR &kp PERCENT                                                  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp PLUS
   &kp PIPE   &kp BSLH   &kp COLON  &kp SEMI   &kp MINUS  &kp LBKT   &kp LBRC   &trans           &trans     &kp RBRC   &kp RBKT   &kp UNDER  &kp COMMA  &kp DOT    &kp SLASH  &kp QMARK
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &none      &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		fnl_layer {
			label = " FUNC";
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp F9     &kp F10    &kp F11    &kp F12    &none                                                        &none      &none      &none      &none      &none      &none
   &trans     &kp F5     &kp F6     &kp F7     &kp F8     &none                                                        &none      &kp RSHFT  &kp RCTL   &kp RALT   &kp RGUI   &none
   &trans     &kp F1     &kp F2     &kp F3     &kp F4     &none      &trans     &trans           &trans     &trans     &none      &none      &none      &none      &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &none      &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
	};
};
